{% extends "materialdjango/vinyl-siding.html" %}

{% load staticfiles %}
{% load polymerdep %}

    
{% block head %}
<title>{% block title %}TinyLibrary{% endblock %}</title>
<style>
    paper-material.card{
        padding: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a{
        color:black;
        text-decoration: none;
    }
    iron-icon{
        margin:5px;
    }
    #drawer > paper-item{
        margin-left: 10px;
        font-size: 20px;
    }
    {% block css %}
    {% endblock %}
</style>
{% endblock %}

{% block tool_title%}Welcome to TinyLibrary!{% endblock %}


{% block menu %}
    <paper-item><iron-icon icon="folder-shared"></iron-icon><a href="https://github.com/Colorless-Green-Ideas/tinylibrary/">Source</a></paper-item>
    <paper-item><iron-icon icon="help"></iron-icon>Help</paper-item>
{% endblock %}

 
{% block body %}
    <a href="{% url 'tinylibrary:book-home' %}">Take Me to the books</a>
{% endblock %}
