{% extends "modern.html" %}
{% load staticfiles %}

{% block tool_title%}My Twisted Books{%endblock%}

{% block body %}
{% if object_list%}
    {% for book in object_list %}
    <div class="card mdc-card">
        <div class="mdc-card-content"><a href="{{book.get_absolute_url}}">
        {{ book.title }} &mdash; {{book.author}} &ndash; Held by: {{book.held_by}}
        </a>
    	</div>
    </div>
    {% endfor %}
{%endif%}

<p><a href="{% url 'tinylibrary:book-new' %}">
	<mwc-button>New Book</mwc-button>
</a></p>
<p><a href="{% url 'tinylibrary:person-create' %}">
	<mwc-button>New Person</mwc-button>
</a></p>
{% endblock %}


{% block menu %}
{% endblock %}