{% extends "base.html" %}
{% block tool_title%}Hello, this is book{%endblock%}

{% block menu %}
 {{ block.super }}
  <paper-item><iron-icon icon="create"></iron-icon> <a href="{%url 'tinylibrary:book-update' book.id %}">
      Edit Book
  </a>
  </paper-item>
  <paper-item><iron-icon icon="delete"></iron-icon> <a href="{%url 'tinylibrary:book-delete' book.id %}">
      Delete Book
  </a>
  </paper-item>
{% endblock %}

{% block body %}
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <h2>Held By: {{book.held_by}}</h2>
{% endblock %}