{% extends "modern.html" %}
{% block tool_title%}Hello, this is book{%endblock%}

{% block menu %}
  <div class="nav-item"><mwc-icon>create</mwc-icon><a href="{%url 'tinylibrary:book-update' book.id %}">Edit Book</a></div>


  <div class="nav-item"><mwc-icon>delete</mwc-icon><a href="{%url 'tinylibrary:book-delete' book.id %}">Delete Book</a></div>

{% endblock %}

{% block body %}
    <h1>{{book.title}}</h1>
    <h4>{{book.author}}</h4>
    <h4>Held By: {{book.held_by}}</h4>
    {% if book.lcc_section %}
    	<p>have lcc section {{book.lcc_section}}</p>
    {% endif %}
    <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"></img>
    <div class="isbn-display"><pre>wc</pre><a href="https://www.worldcat.org/search?qt=wikipedia&q=isbn%3A{{book.isbn}}"><pre>{{book.isbn}}</pre></a></div>
{% endblock %}