{% extends "materialdjango/vinyl-siding.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block tool_title%}My Twisted Books{%endblock%}

{% block body %}
{% if object_list%}
    {% for book in object_list %}
    <paper-material>
        <a href="{{book.get_absolute_url}}">
        {{ book.title }} &mdash; {{book.author}} &ndash; Held by: {{book.held_by}}
        </a>
    </paper-material>
    {% endfor %}
{%endif%}

<a href="{% url 'tinylibrary:book-new' %}"><paper-button raised>New Book</paper-button></a>
<a href="{% url 'tinylibrary:person-create' %}"><paper-button raised>New Person</paper-button></a>
{% endblock %}