[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
MaterialDjango-master = {git = "git://github.com/Colorless-Green-Ideas/MaterialDjango.git", editable = true, ref = "master"}
dj-database-url = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
requests = "*"
whitenoise = "*"
xmltodict = "*"
Django = "==2.0.5"

[dev-packages]

[requires]
python_version = "3.6"
