body {
  transition: opacity ease-in 0.2s;
}
$primary: #25a59a;

header {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: white;
  min-height: 64px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
   a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
}

mwc-button{
  --mdc-theme-on-primary: white;
  --mdc-theme-primary: #e9437a;
  --mdc-theme-on-secondary: white;
  --mdc-theme-secondary: #e9437a; //pink
}

$nav-size: 185px;

main {
  margin-top: 64px;
  padding: 16px;
  margin-left: $nav-size;
}
mwc-icon {
  margin: 0 16px;
}


@import '@material/card/mdc-card.scss';

.card{
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	flex: 1;
	margin-top: 7px;
	background-color: rgba(0, 0, 0, 0.05);
  a{
    text-decoration: none;
    color: black;
  }
}
nav{
	display: flex;
	flex-direction: column;
	align-items: left;
	width: $nav-size;
	background: var(--mdc-theme-secondary, #E1E2E1);
	left: 0;
  position: absolute;
  min-height: 100%;
  a{
    text-decoration: none;
    color: black;
  }
  div.nav-item {
    align-items: flex-end;
    margin: 7px;
    font-family: "Roboto Mono", monospace;
    -webkit-font-smoothing: antialiased;
    flex-direction: row;
  }
}